/* Catppuccin Frappé */
.theme-dark {
    --background-primary: #303446;
    --background-secondary: #292c3c;
    --background-secondary-alt: #232634;
    --background-tertiary: #232634;
    --background-accent: #414559;
    --background-floating: #292c3c;
    --background-nested-floating: #303446;
    --channeltextarea-background: #414559;

    --text-normal: #c6d0f5;
    --text-muted: #737994;
    --text-link: #8caaee;
    --header-primary: #c6d0f5;
    --header-secondary: #a5adce;

    --interactive-normal: #c6d0f5;
    --interactive-hover: #ffffff;
    --interactive-active: #ca9ee6;
    --interactive-muted: #51576d;

    --brand-experiment: #ca9ee6;
    --brand-500: #ca9ee6;
    --focus-primary: #ca9ee6;
}
