.theme-dark {
  --background-primary: #303446;
  --background-primary-alt: #292c3c;
  --background-secondary: #292c3c;
  --background-secondary-alt: #232634;
  --background-modifier-border: #414559;
  --text-normal: #c6d0f5;
  --text-muted: #a5adce;
  --text-faint: #737994;
  --text-accent: #ca9ee6;
  --text-accent-hover: #babbf1;
  --interactive-accent: #ca9ee6;
  --interactive-accent-hover: #babbf1;
  --interactive-accent-rgb: 202, 158, 230;
}
