* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 13px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background: rgba(30, 30, 46, 0.9);
    border-bottom: 2px solid #cba6f7;
    color: #cdd6f4;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #6c7086;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    color: #cdd6f4;
    border-bottom: 3px solid #cba6f7;
}

#clock, #pulseaudio, #network, #cpu, #memory, #tray {
    padding: 0 10px;
    margin: 4px 0;
    background: rgba(49, 50, 68, 0.8);
    border-radius: 8px;
    color: #cdd6f4;
}
