* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 13px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background: rgba(48, 52, 70, 0.9);
    border-bottom: 2px solid #ca9ee6;
    color: #c6d0f5;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #737994;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    color: #c6d0f5;
    border-bottom: 3px solid #ca9ee6;
}

#clock, #pulseaudio, #network, #cpu, #memory, #tray {
    padding: 0 10px;
    margin: 4px 0;
    background: rgba(65, 69, 89, 0.8);
    border-radius: 8px;
    color: #c6d0f5;
}
