* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 14px;
}

window {
  background-color: #303446;
  border: 2px solid #ca9ee6;
  border-radius: 10px;
}

#outer-box {
  padding: 10px;
}

#input {
  margin-bottom: 8px;
  padding: 5px 7px;
  background-color: #414559;
  color: #c6d0f5;
  border: none;
  border-radius: 6px;
  outline: none;
}

#input:focus {
  border: 1px solid #ca9ee6;
}

#entry {
  padding: 5px 7px;
  border-radius: 6px;
}

#entry:selected {
  background-color: #51576d;
}

#text {
  color: #c6d0f5;
}

#entry:selected #text {
  color: #ca9ee6;
}

#expander {
  color: transparent;
}
